<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <div class="sign_in_fields">
    <%= f.email_field :email, :placeholder => "Email", :class=>"input-xlarge"%>
    <%= f.password_field :password, :placeholder => "Password", :class=>"input-xlarge" %>
  </div>

  <% if devise_mapping.rememberable? -%>
  <% end -%>

  <div><%= f.submit "Sign in", :class => "btn btn-primary" %></div>
<% end %>