<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <%= f.email_field :email, :placeholder => "Email", :class=>"input-xlarge"%></div>

  <div>
    <%= f.password_field :password, :placeholder => "Password", :class=>"input-xlarge" %>
  </div>
  
  <% if devise_mapping.rememberable? -%>
  
  <% end -%>

  <div><%= f.submit "Sign in", :class => "btn btn-primary" %></div>
<% end %>