<h2>New Card</h2>


<%= render "form" %>


<div data-role="content">
 <button data-theme="d" onclick="capturePhoto();">Capture Photo</button> <br>
 File Upload: <input type="file" name="jeffreytest"/>
 <img style="display:none;width:100%;" id="largeImage" src="" /> <br>
</div>
