/***************************
      iPhone & iPad
***************************/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  img { max-width: 100%; }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  img { max-width: 100%; }
}

/***************************
      General Styles
***************************/
body {

}

.ui-page {
  opacity:0.6;
 //    filter:alpha(opacity=40);
}

#menu-left {
  z-index: 1000;
}

//span.ui-icon {
//  opacity:1;
//z-index: 10000;
//}

