// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#words {
  float: left;
  width: 50%;
}

#card_edit_button {
  padding: 40px;
  a {
  font-size: 0.95em;
  color: white;
  text-decoration: none;
  &:visited {
    color: white;
    }
  }
}

#card_rectangle {
  width: 300px;
  height: 150px;
  background: white;
}
#quiz_word {
  color: black;
  text-align: center;
  padding-top: 70px;
}
