// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#single_card_body {
  margin: 0 auto;
}

#words {
  text-align: center;
}

#card_edit_button {
  text-align: center;
  a {
  font-size: 0.95em;
  color: white;
  text-decoration: none;
  &:visited {
    color: white;
    }
  }
}

/***********************
      card#show
***********************/

#img_in_show_card {
  text-align: center;
}

#img_in_show_card img {
  border: 3px black solid;
}

.image_upload {
  text-align: center;
}

input#card_image {
  button {
    margin: 0 auto;
  }
}

.image_upload_1 {
  display: none;
}






