.background_image {
//  background: url("background-large.jpg") no-repeat;
//  background-size: 100%;
//  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -5000;
  top: 0px;
  left: 0;
}

li.list_bar {
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  &:hover {
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
  }
}
.ui-input-search {
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}

.ui-field-contain input.ui-input-text, .ui-field-contain textarea.ui-input-text, .ui-field-contain .ui-input-search {
  width: 100%;
}

.ui-overlay-b {
// opacity:0.4;
//  filter:alpha(opacity=40);
}

#content {
  margin-top: 50px;
}