// Place all the styles related to the Decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/***********************
     QUIZ - deck#show
***********************/

#container_rectangle {
  width:300px;
  height:300px;
  position: relative;
margin: auto;
//float: left;
background: white;
border: 1px solid white;

overflow:hidden;
}

#picture_display {
  position: absolute;
//padding: 10%;
  img {
    width: 400px;
  }
}

#card_rectangle {
  width: 300px;
  height: 300px;

  opacity:1.3;
 // margin: 20px;
//   padding: 30px;
  position: absolute;
margin: 0%;
}

#card_text {
  border: 1px solid white;
  background: black;
  text-color: white;
}

#word_display {
//  padding: auto;
//  vertical-align: middle;
  color: white;
  text-align: center;
//  padding-top: 55px;
  font-size:1.5em;
opacity: 1.0;
  z-index:1;
}






/***********************
     BUTTONS
***********************/

#multi_head, .deck_button, #multi_head  {
  margin-bottom: 20px;

  a {
    font-size: 0.95em;

    color: white;
    text-decoration: none;
    &:visited {
      color: white;
    }
  }
}
#multi_head div.search_input {
  float: left;
//  width: 90%;
}

#single_head div.search_input {
  margin-bottom: 30px;
}

#rest {
  clear:left;
}

