header#header {
  position: fixed;/* Let menu content overflow outside the header */
  width: 100%;
  top: 0;
  left: 0;
}

#header{
  overflow: visible;
//  background: gray;
}
#header ul { /* Menu Name */
  margin-top: 1em;
  padding-left: 0;
}
#header .ui-btn-corner-all {
}
#header ul li {
  list-style-type: none;
}
#header ul ul { /* Menu Item List */
  position: absolute; /* Position absolutely */
  display: none; /* Hide */
  /*z-index: 500; /* Ensure visibility over other elements on page */
  margin-top: 0px; /* Bring menu closer to button; not needed on mobile */
}
#header ul ul li {
  width: 150px; /* Fixed width menu items*/
  display: block; /* JQM makes a inline-blocks... reset it to block */
}
#header ul ul li a {
  white-space: normal; /* Stop long menu names from truncating */
}
#header ul:hover ul {
    /* display: block; /* Display menu on hover over parent */
}
#menu-left {
  float: left;
  margin-left:0.5em;
  box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.3);
}

.ui-bar-a .ui-shadow {
  -webkit-box-shadow: 0px 0px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 0px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 0 rgba(255, 255, 255, 0.3);

}

#menu-right {
  float: right;
  margin-right:0.5em;
}
#menu-left ul {
  margin-left:0.5em;
}
#menu-right ul {
  margin-right: 0.5em;
  right: 0em;
}
#home .ui-header {
  height: 75px;
}
#home .ui-header h1 {
  font-family: 'Coming Soon', cursive;
  position: absolute;
  font-size: 22pt;
  margin-bottom:0px;
}
#home .ui-title {
  width: 100%;
  margin: 0 auto;
  padding: 0;
margin: 0;
}
#txtSpan {
  position: relative;
  display: inline-block;
  top: -5px; /* Doesnt seem possible to vertically center otherwise */
}
