<h2>All Decks - <%= current_user.email %></h2>


<div>
  <ul data-role="listview">
    <% @decks.each do |deck| %>
    <li class="list_bar">
      <%= link_to "#{deck.name}", deck_cards_path(deck) %>

    </li>

    <% end %>
  </ul>
</div>