<h2><%= @deck.name %></h2>

<%= render 'layouts/search'%>

<div>
  <ul data-role="listview">
    <% @deck.cards.sort.each do |card| %>
    <li class="list_bar">
      <%= link_to "#{card.native_word.capitalize} (#{card.foreign_word.capitalize})", deck_card_path(@deck, card) %>
    </li>
    <% end %>
  </ul>
</div>