<h2><%= @deck.name%> - Quiz</h2>

<div id="container_rectangle">
  <div id="picture_display"></div>
  <div id="card_rectangle">
    <div id="card_text">
      <a href="#"><p id="word_display">Start game</p></a>
    </div>
    <script type="text/javascript">deck = new Deck('<%= deck_cards_path @deck %>')</script>

  </div>
</div>
<!-- <div id="">

</div> -->