<h2><%= @deck.name%> - Quiz</h2>

<div id="card_rectangle">
  <a href="#"><p id="word_display">Start game</p></a>
  <script type="text/javascript">deck = new Deck('<%= deck_cards_path @deck %>')</script>
</div>