<div data-role="navbar">
  <% if user_signed_in? %>
    <%= link_to "Home", root_path%>
    <%= link_to "All Decks", decks_path%>
    <%= link_to "Sign out", destroy_user_session_path, :method => "delete" %>
  <% else %>
    <%= render "devise/shared/links" %>
  <% end %>
</div>